RewriteEngine On
RewriteCond $1 !^(index\.php|assets|barcodes|product_gallery|reception_gallery|files|jsystem|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]

php_value max_input_vars 3000
php_value suhosin.get.max_vars 3000
php_value suhosin.post.max_vars 3000
php_value suhosin.request.max_vars 3000